@{
    ViewData["Title"] = "About NAU's Environmental Engineering Lab";
}
<h2>@ViewData["Title"]</h2>

<p class="lead">Here at NAU, the Civil and Environmental Engineering (CENE) program runs the Environmental Engineering (ENE) Laboratory, providing students, faculty, and researchers alike a controlled-access space to pursue their research projects. </p>

<hr />

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>All About the ENE Lab</h3> <br />
                    <p>The <a href="https://in.nau.edu/civil-environmental-engineering/">Civil and Environmental Engineering program</a> here at NAU operates the Environmental Engineering (ENE) Laboratory. The Lab provides a controlled-access space with equipment for conducting basic microbiological observations and methods, and is used to support CENE courses. It also hosts student projects and faculty research, and plays home to some independent research.</p>

                    <p>All use of the ENE Lab must be preceded by a documented request and hazard declaration that ensures the facilities are adequate for the work proposed and may be used safely, and requests must be approved by Lab Management prior to lab usage. Lab usage requests may be submitted through the Environmental Engineering Laboratory Informations and Management system. </p>
                    <p><b>Did you know...</b></p>
                    <ul>
                        <li>The <a href="https://in.nau.edu/civil-environmental-engineering/">CENE program</a> is rated by <i>US News</i> as one of the top undergraduate programs in the United States</li>
                        <li>Students get the chance to do hands-on work through classwork, the <a href="https://in.nau.edu/civil-environmental-engineering/d4p/">Design4Practice program</a>, and internships and undergraduate research projects</li>
                        <li>We encourage participation in student competitions, conferences, and programs that take our students abroad</li>
                        <li>There are a variety of <a href="https://in.nau.edu/civil-environmental-engineering/student-clubs/">active student organizations and professional societies</a>, including <a href="https://www.asce.org/">the American Society of Civil Engineers (ASCE)</a> and the Construction Management Organization (CMO)</li>
                        <li>Both of the CENE programs are accreditied by <a href="www.abet.org">the Engineering Accreditation Commission of ABET</a></li>
                        <li>ELIMS was developed for Dr. Terry Baxter and the ENE Lab by the LabRats, a 2018-2019 CS capstone team here at NAU, as their senior project. You can learn about the project and the team at their <a href="https://www.cefns.nau.edu/capstone/projects/CS/2019/LabRats-S19/">website</a></li>
                    </ul>
                    <hr />
                    <div class="card">
                        <div class="card-body">
                            <blockquote class="blockquote-reverse" style="border-right:5px solid green;">
                                <p>To make the changes we need to make and to reach a safer future, we will need the resources of everybody here — the scientists, the policy makers, and the industrialists — all working together towards a common goal. And that goal is a planet that can continue to support life.</p>
                                <footer class="blockquote-footer">Dr. Piers Sellers (1955-2016), astronaut @*<cite title="Source Title">Source Title</cite>*@</footer>
                            </blockquote>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    @*<h3>Our Services</h3>
                    <br />*@

                    <table style="width:100%;">
                        <tr>
                            <th><img src="~/images/microorganism.png" alt="Cartoon of a micro organism" style="width:150px;height:150px;padding:10px;" /> </th>
                            <th><p>Basic microbiological observations and methods</p></th>

                        </tr>
                        <tr>
                            <th><img src="~/images/drop.png" alt="Cartoon water droplets" style="width:150px;height:150px;padding:10px;" /> </th>
                            <th><p>Research into water pollution and safety, with a water purification system</p></th>
                        </tr>
                        <tr>
                            <th><img src="~/images/biohazard.png" alt="Cartoon biohazard symbol" style="width:150px;height:150px;padding:10px;" /> </th>
                            <th><p>Secure staging area for hazardous waste pickup</p></th>

                        </tr>
                        <tr>
                            <th><img src="~/images/sprout.png" alt="Cartoon water droplets" style="width:150px;height:150px; padding:10px;" /> </th>
                            <th><p>Soil analysis and lab space for soil- and geotechnical-related research</p></th>
                        </tr>


                    </table>

                </div>
        </div>