@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Here at NAU, the Civil and Environmental Engineering (CENE) program runs the Environmental Engineering (ENE) Laboratory, providing students, faculty, and researchers alike a controlled-access space with . </p>

<p>The Civil and Environmental Engineering program here at NAU operates an Environmental Engineering (ENE) laboratory. The lab provides a controlled-access space with equipment for conducting basic microbiological observations and methods, and is used to support CENE courses. It also hosts student projects and faculty research, and plays home to some independent research.</p>
        <p>All use of the ENE Lab must be preceded by a documented request and hazard declaration that ensures the facilities are adequate for the work proposed and may be used safely, and requests must be approved by Lab Management prior to lab usage. Lab usage requests may be submitted through the Environmental Engineering Laboratory Informations and Management system. </p>
        <p>This is where I'll put the images</p>


