
@{
    ViewData["Title"] = "Access Denied";
}

<h2 class="text-danger">@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<br />

<div class="alert alert-danger" role="alert" style="font-size:large;">
    <span class="sr-only">Danger:</span>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <p>You do not have access to view this page. Please <a href="/ContactForms/Create">contact</a> Lab Management if you believe this has been in error.</p>
</div>