@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<!--General contact information for the department -->
<h4>Civil and Environmental Engineering</h4>
<address>
    Engineering and Technology, Bldg #69<br />
    2112 S Huffer Ln<br />
    PO Box: Box 15600<br />
    Flagstaff, AZ 86011<br />
    <abbr title="Phone">P:</abbr>
    928.523.5251
</address>

<fieldset id="contactform">
    <legend><b>Contact Us</b></legend>
    <p>Please fill out this form, and we'll get back to you ASAP.</p>

    <label for="firstname">First Name</label>
    <input [(ngModel)]="firstname" id="firstname" type="text" autofocus required>

    <label for="lastname">Last Name</label>
    <input [(ngModel)]="lastname" id="lastname" type="text" required><br /><br />

    <label for="nauid">NAU ID</label>
    <input [(ngModel)]="nauid" id="nauid" type="text" placeholder="ex: abc123" required><br /><br />

    <label for="requestemail">NAU Email</label>
    <input [(ngModel)]="requestemail" id="requestemail" type="email" required /><br /><br />

    <label for="topic">Topic</label>
    <select name="topic" required>
        <option value="other">Other</option>
        <option value="question">General question</option>
        <option value="request">Question about request</option>
        <option value="lab">Question about lab use</option>
        <option value="site">Question about site</option>
    </select>
    <br /><br />

    <label for="reportField">Message</label>
    <textarea [(ngModel)]="reportField" id="reportField" rows="5" cols="40" spellcheck="true"></textarea>
    <br /><br />

    <button (click)="contact()">Submit Form</button><br /><br />

</fieldset>

<fieldset id="requestform">
    <legend><b>Report Problem</b></legend>
    <p>Please report any problems with this website--including technical issues, incorrect information, or bugs--to Lab Management so the system can be updated. Thank you for doing your part to keep the ENE Lab running!</p>
    <textarea [(ngModel)]="reportField" id="reportField" rows="10" cols="100" spellcheck="true"></textarea>
    <br /><br />

    <button (click)="problem()">Submit Report</button><br /><br />

</fieldset>

<!--
<!--Gary is the lab manager
<h3>Gerjen "Gary" Slim, E.I.T</h3>
<address>
    Lab Instructor - Lab Manager<br />
    Civil Engineering, Construction Management, and Civil Engineering<br />
    <abbr title="Phone">P:</abbr>
    928.600.9645<br />
    <abbr title="Email">E:</abbr>
    Gerjen.Slim@nau.edu
</address>

<h3>Terry E. Baxter, PhD, PE</h3>
<address>
    Associate Professor<br />
    Civil and Environmental Engineering<br />
    <abbr title="Phone">P:</abbr>
    928.523.2008<br />
    <abbr title="Email">E:</abbr>
    Terry.Baxter@nau.edu
</address> -->
<!--Contact information if there is a problem with the app-->
<address>
    <strong>If you are having problems with the app or website, please contact Support:</strong> <a href="mailto:bsb232@nau.edu">Webmaster</a><br />
</address>
