@{
    ViewData["Title"] = "Policies";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>Privacy Policy</h3>
<p>Use this page to detail your site's privacy policy.</p>

<hr />

<h3>Cookie Policy</h3>
<p>The Environmental Laboratory Informatics and Management System (ELIMS) or any of its components may use cookies to provide great service, including creating user roles, maintaining your session, and security. <b>Disabling cookies in your browser may negatively impact your ELIMS usage and experience.</b></p>

<p>By using this site, you consent to ELIMS' usage of cookies.</p>