@{
    ViewData["Title"] = "Policies";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr />

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4>Cookie Policy</h4>
            <br />

            <div class="alert alert-info" role="alert" style="font-size:smaller;">
                <b>Cookie: </b> A small file stored on your computer, containing data for a website, that lets the website boot faster and show you personalized content. Learn more about them <i><a href="http://www.whatarecookies.com/">here!</i></a>
            </div>
            <p>The Environmental Laboratory Informatics and Management System (ELIMS) or any of its components may use cookies to provide great service and work the way it's supposed to. This includes</p>
            <ul>
                <li>User permissions</li>
                <li>Maintaining sessions</li>
                <li>Overall website security</li>
                </ul>
            <p>Cookies cannot be accessed by ELIMS outside of a session, and cannot be accessed by any other website. They're just there to provide you with the best possible experience. You can, at any time, check your cookies in your browser, delete them, or disable them entirely.</p>

            <div class="alert alert-danger" role="alert">
                <b>Disabling cookies in your browser may negatively impact your ELIMS usage and experience.</b>
            </div>

            <p>By using this site, you consent to ELIMS' usage of cookies.</p>
            <hr />
        </div>
        <div class="col-sm-6">
            
            <h4>Privacy Policy</h4>
            
            <br />
            
            <p>This privacy notice discloses the privacy practices for ELIMS. This notice applies solely to information collected by the website. ELIMS abides by the standards and policies of Northern Arizona University.</p>
            <b>Information Collection, Use, and Sharing</b>
            <p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us through the use of this website.</p>
            <p>This includes any information you enter here on the website, including:</p>
            <ul>
                <li>Your name</li>
                <li>Your email</li>
                <li>Your student ID number (if applicable)</li>
                <li>Information about your ENE Lab projects</li>
            </ul>
            <p>We will use your information to contact you regarding use of the website, including any lab usage requests or contact form submissions, and use of the ENE Lab at NAU.</p>
            <p>We will never sell, rent, or otherwise provide your personal information to anyone outside of the ENE Lab or NAU. By using ELIMS, you consent to your personal information being accessed by:</p>
            <ul>
                <li>Lab administrators</li>
                <li>Lab managers (including student managers)</li>
            </ul>
            <p>Your information will only be used in the context of the ENE Lab, such as to review your requests to use the lab or for Lab Management to contact you, and will never be used for reasons outside of the lab.</p>
            
            <b>Security</b>

            <p>We take precautions to protect your information. When you submit sensitive information via ELIMS, such as your name or email, your information is protected both online and offline. Whenever we collect information, that information is encrypted and sent to us in a secure way; you can always verify your info is safe by looking for "https" at the start of a URL in your browser's address bar.</p>
            <p>Only personnel who need the information to perform a specific job (such as review your lab usage request for approval/denial) are granted access to personally identifiable information. The computers and servers the information is stored on are kept in a secure environment.</p>

            <p>If you have concerns about our privacy policy or are concerned that we are not following it, please <a href="/ContactForms/Create">contact lab management.</a></p>
        </div>
    </div>
</div>


    