@{
    ViewData["Title"] = "ENE Lab Usage Request";
}
<h2>@ViewData["Title"]</h2>

<h3><a href="/request/create">Make a new request</a></h3>

<!--For 'Manage Requests', filter the Request database to show just that user's requests-->
<h3><a href="/request">Manage requests</a></h3>
    
<!--This will be an admin page-->
<h3><a href="/request">Approve/deny requests</a></h3>
