@{
    ViewData["Title"] = "ENE Lab Usage Request";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Placeholder text to remind us to split into diff pages</p>
<p><b>Make new request</b></p>
<p><b>Manage requests</b></p>
<p><b>Request History</b></p>
<p><b>Approve/deny requests</b></p>


<p>Use this form to submit your lab usage request. Please make sure to correctly fill in all fields correctly, and include any relevant information you think we may need to know. This form will be reviewed by Lab Management, who will contact you to set up a face-to-face meeting to discuss your project's needs.</p>
<p>Make sure to submit the form <u>NO LESS than 2 weeks PRIOR to the project's intended start date.</u></p>

<fieldset id="requestform" style="display:block">
    <legend><b>Request Form</b></legend>

    <label for="firstname">First Name</label>
    <input [(ngModel)]="firstname" id="firstname" type="text" autofocus required>

    <label for="lastname">Last Name</label>
    <input [(ngModel)]="lastname" id="lastname" type="text" required><br /><br />

    <label for="nauid">NAU ID</label>
    <input [(ngModel)]="nauid" id="nauid" type="text" placeholder="ex: abc123" required><br /><br />

    <label for="requestemail">NAU Email</label>
    <input [(ngModel)]="requestemail" id="requestemail" type="email" required /><br /><br />

    <p><u><b>Project Information</b></u></p>

    <label for="projectname">Project or Course Name</label>
    <input [(ngModel)]="projectname" id="projectname" type="text" spellcheck="true" required /> <br /><br />

    <label for="projectobjective">Project Objective</label>
    <input [(ngModel)]="projectobjective" id="projectobjective" type="text" spellcheck="true" required /><br /><br />

    <label for="startdate">Start Date</label>
    <input [(ngModel)]="startdate" id="startdate" type="date" required />

    <label for="enddate">End Date</label>
    <input [(ngModel)]="enddate" id="enddate" type="date" /><br /><br />

    <label for="primarycontact">Primary Contact</label>
    <input [(ngModel)]="primarycontact" id="primarycontact" type="text" />
    <label for="contactid">NAU ID</label>
    <input [(ngModel)]="contactid" id="contactid" type="text" placeholder="ex: xyz789" /> <br /><br />

    <label for="funding">Source of Project Funding or Course Instructor</label>
    <input [(ngModel)]="funding" id="funding" type="text" /><br /><br />

    <label for="sponsor">Faculty Sponsor or Course Instructor</label>
    <input [(ngModel)]="sponsor" id="sponsor" type="text" /> <br /><br />

    <label for="sponsorphone">Sponsor Phone</label>
    <input [(ngModel)]="sponsorphone" id="sponsorphone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" />

    <label for="sponsoremail">Sponsor Email</label>
    <input [(ngModel)]="sponsoremail" id="sponsoremail" type="email" /><br /><br />

    <p>If you know what chemicals your project will be using, list them here.</p>
    <textarea [(ngModel)]="chemicals" id="chemicals" rows="5" cols="40" spellcheck="true"></textarea>
    <br /><br />

    <p>You will need to meet face-to-face with lab management for your request to be approved. What are some good times before the start of your project that you can meet?</p>
    <textarea [(ngModel)]="meetingtimes" id="meetingtimes" rows="5" cols="40"></textarea>
    <br /><br />

    <b>If you have one, attach your project plan here (doc/docx or pdf accepted):</b> <input [(ngModel)]="projectplan" id="projectplan" type="file" accept=".doc,.docx,.pdf" /><br />

    <p>Once you submit this form, Lab Management will review your request and reach out to you shortly. Please verify all project information is accurate before submitting. In the case corrections need to be made to your lab usage request, you can manage your requests or contact lab management. </p>

    <button type="button" onclick="document.getElementById('message').style.display = 'block'; document.getElementById('requestform').style.display = 'none'">Submit</button>
    <br /><br />

</fieldset>
<h2 id="message" style="display:none"><b>Thank you for your request! Lab Management will be in contact with you.</b></h2>
