@model ELIMS_MVC.Data.ApplicationUser

@{
    ViewData["Title"] = "Edit User";
}

<h2>@ViewData["Title"]</h2>

<hr />
<fieldset id="deleterequest" style="display:block; margin: 0 2px; border:1px solid #c0c0c0; padding: .35em .625em .75em;">
    <legend style="background-color: #4BB721; display:table; max-width:100%; padding: 3px 6px; color:#fff; white-space:normal;"><b>Edit @Html.DisplayFor(model => model.UserName)</b></legend>
    <div class="row">
        <div class="col-md-4">


            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p>
                    @Html.DisplayNameFor(model => model.Id)
                    @Html.DisplayFor(model => model.Id)
                </p>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LabAccess" class="control-label"></label>
                    <input asp-for="LabAccess" class="form-control" />
                    <span asp-validation-for="LabAccess" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control" id="Location">
                        <option>Student</option>
                        <option>Student manager</option>
                        <option>Researcher (non-student)</option>
                        <option>Lab manager (non-student)</option>
                        <option>Lab administrator</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>

        </div>
    </div>
</fieldset>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
