@using Microsoft.AspNetCore.Identity
@using ELIMS_MVC.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right" style="font-size:medium;">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hi, @UserManager.GetUserName(User)!</a>
                @*<a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img src="~/images/avatar.png" alt="User icon" style="width:20px;height:20px;"></a>*@
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" style="font-size:medium;">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right" style="font-size:medium;">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}