
@{
    ViewData["Title"] = "Login";
}

<h2>Welcome to the Environmental Laboratory Informatics and Management System</h2>

<center>
    <h3>@ViewData["Message"]</h3>

    <input type="submit" value="Login" class="btn btn-default" />

    <input type="submit" value="New User" class="btn btn-default" />
</center>