
@{
    ViewData["Title"] = "Settings";
}

<h2>Settings</h2>

<!--What kind of settings will they be able to change?-->

<p>Deactivate Account</p>
<!--Should trigger a dialog window asking them if they're sure they want to deactivate their account-->
<!--Confirmation just marks them as inactive, does not delete them from the databases-->