@{
    ViewData["Title"] = "Index";
}

<h1>Inventory</h1>
<p>The ENE Labs uses a database system to track and manage the lab's chemical inventory. Here, you can search for the chemicals you need, request new ones, and report issues for Lab Management to correct.</p>

<fieldset id="requestform">
    <legend><b>Search Inventory</b></legend>

    <label for="search">Search</label>
    <input [(ngModel)]="searchAcid" id="searchAcid" type="text">     
    <button (click)="searchACID()">Go</button>
    <br /><br />
</fieldset>

<fieldset id="requestform">
    <legend><b>Request Chemicals</b></legend>

    <label for="requestChem">Chemical</label>
    <input [(ngModel)]="requestChem" id="requestChem" type="text"><br /><br />

    <label for="requestAmnt">Amount</label>
    <input [(ngModel)]="requestAmnt" id="requestAmnt" type="number"><br /><br />

    <button (click)="requestNew()">Submit</button>
    <br /><br />

</fieldset>

<fieldset id="requestform">
    <legend><b>Report Problem</b></legend>
    <p>Please report any problems--such as inaccurate inventory--to Lab Management so the system can be updated. Thank you for doing your part to keep the ENE Lab running!</p>
    <textarea [(ngModel)]="reportField" id="reportField" rows="5" cols="40" spellcheck="true"></textarea>
    <br /><br />

    <button (click)="problem()">Submit Report</button><br /><br />

</fieldset>